@page
@model ISCED_Benguela.Pages.Ciencia.ciencia_investigacaoModel
@{
    ViewData["Title"] = "Ciencia e Investigação";
}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Ciência e Investigação?</h2>
            <p> <a asp-page="/Index">Início</a> > Ciência e Investigação </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <section class="container ciencia-page">
        <h3>APRESENTAÇÃO</h3>
        <p>O Centro de Pesquisa e Estudos Científicos, é uma unidade de pesquisa do Instituto Superior de Ciências da Educação (ISCED) de Benguela, com foco em estudos interdisciplinares e multidisciplinares. Este centro é um pilar na busca e no desenvolvimento do conhecimento em várias disciplinas educacionais.</p>


        <h5>MISSÃO E OBJECTIVO</h5>
        <p>Sua missão é fomentar e auxiliar na geração de conhecimento científico e inovação, visando aprimorar os indicadores de progresso eduacaional, social, econômico, cultural e ambiental.</p>


        <p>Para o cumprimento da Missão, o CIC tem como objectivos, os seguintes:</p>
        <ol>
            <li>Estabelecer colaborações internacionais com outras instituições de pesquisa para promover o intercâmbio de conhecimentos e melhores práticas;</li>
            <li>Desenvolver e implementar programas de treinamento e desenvolvimento profissional para pesquisadores e acadêmicos;</li>
            <li>Encorajar a pesquisa interdisciplinar, permitindo a colaboração entre diferentes campos de estudo;</li>
            <li>Garantir que a pesquisa realizada tenha um impacto positivo na sociedade, contribuindo para a solução de problemas sociais, econômicos e ambientais;</li>
            <li>Advogar pela importância da pesquisa e da ciência na educação e na política pública.</li>

        </ol>

    </section>
</main>

<style>
    .ciencia-page p, .ciencia-page li {
        text-align: justify;
        font-size: 14pt;
        font-weight: 500;
        margin: 10px 50px;
    }

    .ciencia-page h5 {
        font-weight: 700;
        color: floralwhite;
        background-color: orangered;
        border-radius: 10px;
        padding: 8px;
        margin: 4px;
    }

    .ciencia-page h3 {
        color: orangered;
        font-weight: 900;
        font-size: 36px;
    }
</style>
