@page
@using ISCED_Benguela.Modelos.Enums
@model ISCED_Benguela.Pages.Admin.Formacao.ChangeModel
@{

    Layout = "_Layout-admin";
    ViewData["title"] = "Criar Formação";

}

<div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Criar Nova Formação Universitária</h1>
    </div>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="row container">
                <form method="post" class="col s12 container">

                    <div class="row">
                        <div class="input-field col s12">
                            <input asp-for="formDTO.NomeFormacao" id="titulo" type="text" class="validate" required>
                            <label for="titulo">Qual é a nova Formação para a universidade?</label>
                            <span class="helper-text" data-error="Preencha o campo" data-success="Concluido">(*) Preenchiemtno Obrigatório</span>
                        </div>
                       
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn btn-large orange"> <i class="small material-icons">send</i> Salvar </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
@section Scripts {
    @Html.Raw(Html.SweetConfirmAlert("Deletar Funcionário", "Tem certeza que quer deletar este funcionário?"));
}
@{
    if (TempData["successAlert"] is not null)
    {
        if ((bool)TempData["successAlert"]!)
        {
            @Html.Raw(Html.SweetAlert(TempData["successMessage"]?.ToString()!, "Portal do Administrador", alertType.success))
            ;
        }
        else
        {
            @Html.Raw(Html.SweetAlert(TempData["InSuccessMessage"]?.ToString()!, "Portal do Administrador", alertType.error))
            ;
        }

    }
}