@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Políticas de Privacidade</h2>
            <p>Seja Bem vindo ao Portal. </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container">
        <br /><br />
        <h2>Introdução</h2>
        <p>Bem-vindo ao <b>ISCED- Benguela</b>. Esta política de privacidade descreve como coletamos, usamos, divulgamos e protegemos suas informações quando você visita nosso site www.isced-benguela.ao.</p>

        <h2>Informações que Coletamos</h2>
        <h4>Informações Pessoais</h4>
        <p>Quando você se registra em nosso site,  ou entra em contato conosco, podemos coletar informações como seu nome, endereço de e-mail, número de telefone e informações de pagamento.</p>

        <h4>Informações Não Pessoais</h4>
        <p>Coletamos automaticamente algumas informações quando você visita nosso site, como seu endereço IP, tipo de navegador, provedor de serviços de Internet (ISP), páginas de referência/saída, sistema operacional, carimbos de data/hora e dados de clickstream.</p>

        <h2>Uso das Informações</h2>
        <p>Utilizamos as informações que coletamos de várias formas, incluindo:</p>
        <ul>
            <li>Para operar e manter nosso site;</li>
            <li>Para melhorar, personalizar e expandir nosso site;</li>
            <li>Para entender e analisar como você utiliza nosso site;</li>
            <li>Para desenvolver novos produtos, serviços, recursos e funcionalidades;</li>
            <li>Para comunicar com você, diretamente ou através de um dos nossos parceiros, incluindo para atendimento ao cliente, para fornecer atualizações e outras informações relacionadas ao site, e para fins de marketing e promocionais;</li>
            <li>Para processar suas transações e gerenciar suas solicitações;</li>
            <li>Para enviar e-mails periódicos.</li>
        </ul>

        <h2>Compartilhamento de Informações</h2>
        <p>Não vendemos, trocamos ou transferimos para terceiros suas informações pessoais identificáveis sem o seu consentimento. Isso não inclui terceiros de confiança que nos ajudam a operar nosso site, conduzir nossos negócios ou atender você, desde que essas partes concordem em manter essas informações confidenciais.</p>
        <p>Podemos também divulgar suas informações quando acreditarmos que a divulgação é apropriada para cumprir a lei, fazer cumprir as políticas do nosso site ou proteger os nossos direitos, propriedade ou segurança.</p>

        <h2>Segurança das Informações</h2>
        <p>Implementamos uma variedade de medidas de segurança para manter a segurança de suas informações pessoais. Utilizamos tecnologia de criptografia para proteger informações sensíveis transmitidas online e apenas colaboradores autorizados têm acesso a informações pessoais identificáveis.</p>

        <h2>Cookies e Tecnologias de Rastreamento</h2>
        <p>Nosso site pode usar "cookies" para melhorar a experiência do usuário. O navegador do usuário coloca cookies no disco rígido para fins de manutenção de registros e, às vezes, para rastrear informações sobre eles. Você pode optar por configurar seu navegador para recusar cookies ou para alertá-lo quando os cookies estiverem sendo enviados.</p>

        <h2>Seus Direitos de Privacidade</h2>
        <p>Dependendo de onde você está localizado, você pode ter certos direitos sobre suas informações pessoais, incluindo o direito de acessar, corrigir ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco usando as informações fornecidas abaixo.</p>

        <h2>Alterações a Esta Política de Privacidade</h2>
        <p>Reservamo-nos o direito de atualizar esta política de privacidade a qualquer momento. Notificaremos você sobre quaisquer alterações, postando a nova política de privacidade em nosso site. Recomendamos que você reveja esta política periodicamente para quaisquer alterações.</p>

        <h2>Contate-Nos</h2>
        <p>Se você tiver alguma dúvida sobre esta política de privacidade, as práticas deste site ou suas relações com este site, entre em contato conosco.</p>
    </div>
</main>